body{
   background-image: url(/realistic-flat-background_23-2150146513.jpg);
    background-size: cover;
}

main{
    margin-top: 7rem;
    background-color: blue;
}

.card{
    padding-bottom: 5rem;
    margin: 2.5rem;
}